
// css variables
:root {
  --color-white: #fff;
  --color-background: #e5e5e5;
  --color-primary: #6070ff;
  --color-prmary-dark: #396df2;
  --color-primary-light-1: #cbcdff;
  --color-primary-light-2: #ebebff;
  --color-border: #dfe1e6;
  --color-header-text: #172b4d;
  --color-text: #344563;
  --color-text-lighter: #7a869a;
  --color-primary-text: #7f8cff;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-background);
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  line-height: 2.4rem;
}

p {
  line-height: 2.4rem;
  color: var(--color-text);
}
