/////////////////
//  LANDING PAGE

.landing-page {
  background-color: var(--color-white);

  @include breakpoint('mobile') {
    height: 66.8rem;
    max-width: 37.5rem;
    width: 100%;
  }
}

.nav {
  padding: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-primary);
    text-transform: capitalize;
    text-align: center;

    @include breakpoint('mobile') {
      line-height: 2rem;
      width: 7.6rem;
      height: 2rem;
    }
  }

  &__menu-box {
    flex: 0 0 2rem;
  }

  &__menu {
    width: 100%;
    // border: 1.2px solid #ACB7C3;
    border: 1px solid var(--color-primary);
    margin: 0.4rem 0;
  }
}

.landing {
  max-width: 40.2rem;
  max-height: 61.3rem;
  padding-bottom: 2rem;
  background-color: var(--color-white);
  border-bottom-left-radius: 4rem 3.5rem;

  &__wrapper {
    width: 100%;
    height: 58.7rem;
    background-image: url('../img/header-shapes\ mobile@2x.svg');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0 2.4rem;
    margin-bottom: 2.6rem;
  }

  &__header {
    padding-top: 10.6rem;
    margin: 1.2rem 0;
  }

  &__text {
    margin: 1.2rem 0;
  }

  &__link {
    text-transform: uppercase;
    color: var(--color-primary-text);
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    margin: 0 0.8rem;
  }

  &__social-media {
    margin: 1.2rem 0;

    ul {
      list-style: none;
      display: flex;
    }
  }

  &__social-link {
    text-decoration: none;
  }

  &__icon {
    margin-right: 1.9rem;
    cursor: pointer;
  }
}

/////////
// HEADER
.header {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.2rem;
  color: var(--color-header-text);

  &__about{
    @include breakpoint('mobile') {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.2rem;
    }
  }
}

////////////@at-root
//WORKS
.tonic-1 {
  &__image-holder {
    height: 22rem;
    max-width: 29.5rem;
    border-radius: .6rem;
    width: 100%;
    background: url('../img/blog_drbl_4x.webp') no-repeat center center;
    background-size: cover;
    margin-bottom: 12px;
  }
}

.tonic-2 {
  &__image-holder {
    height: 22rem;
    max-width: 29.5rem;
    border-radius: .6rem;
    width: 100%;
    background: url('../img/works2.png') no-repeat center center;
    background-size: cover;
    margin-bottom: 12px;
  }
}

.tonic-3 {
  &__image-holder {
    height: 22rem;
    max-width: 29.5rem;
    border-radius: .6rem;
    width: 100%;
    background: url('../img/blog_drbl_4x.webp') no-repeat center center;
    background-size: cover;
    margin-bottom: 12px;
  }
}

.tonic-4 {
  &__image-holder {
    height: 22rem;
    max-width: 29.5rem;
    border-radius: .6rem;
    width: 100%;
    background: url('../img/works2.png') no-repeat center center;
    background-size: cover;
    margin-bottom: 12px;
  }
}

.tonic {
  display: flex;
  @include breakpoint('mobile') {
    flex-direction: column;
  }

  &__cat-list{
    display: flex;
    padding: 2rem 0;
    // justify-content: space-around;
  }

  &__cat-list--item{
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 600;
    color: var(--color-text-lighter);
    margin-right: 3rem;
  }

  &__cat-list--1 {
    list-style: none;
    text-transform: uppercase;
    color: var(--color-text);
  }

  &__text {
    font-size: 1.5rem;
  }

  &__lang-list{
    list-style: none;
    display: flex;
    gap: .8rem;
    margin-top: 1.2rem;
  }

  &__lang-list--item{
    padding: .4rem 1.2rem;
    background-color: var(--color-primary-light-2);
    border-radius: .8rem;
    a{
      text-decoration: none;
      color: var(--color-primary);
    }
  }

  &__btn {
    padding: 1.6rem 1rem;
    border: 1px solid var(--color-prmary-dark);
    border-radius: 1.6rem;
    background-color: var(--color-white);
    cursor: pointer;
    color: var(--color-prmary-dark);
    font-size: 1.7rem;
    line-height: 2.4rem;
    font-weight: 600;
    letter-spacing: 0.03em;
    margin: 1.8rem 0;

    &:hover{
      background-color: var(--color-primary-light-2);
      transition: all .2s;
    }
  }
}




////////////
// ABOUT
.about{
  display: flex;
  @include breakpoint('mobile') {
    flex-direction: column;
  }
  border-top-right-radius: 4rem 1rem;

  &__landing {
    margin: 0 2.4rem;
  }

}

.skills{
  &__list {
    list-style: none;
    margin: 0 3.6rem;
  }

  &__list-item{
    &:not(:first-child) {
      padding: 2.3rem 0;
      border-bottom: 1px solid var(--color-border);
    }

  }

  &__lang{

  }

  &__lang-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__lang-text{
    color: #000000;
    font-size: 2rem;
    font-weight: 500;
  }

  &__lang-icon-wrapper{
    margin-right: 3rem;
  }

  &__lang-list{
    margin-top: 1.8rem;
    list-style: none;
    padding: 1rem;
  }

  &__lang-list--item {
    // height: 6.6rem;
    border-radius: .8rem;
    background-color: #F7F7F9;
    margin: 1.2rem 0;

    @include breakpoint('mobile')
    {
      width: 30.3rem;
    }

  }

  &__lang-list--link{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding: 2.1rem 1.2rem;
    text-decoration: none;
    cursor: pointer;

  }

  &__lang-list--text{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    color: #253858;
  }

  &__lang-list--iconjs{
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    background: url('/img/javascript.svg') no-repeat center center;
    background-size: cover;
  }

  &__lang-list--iconht{
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    background: url('/img/html.svg') no-repeat center center;
    background-size: cover;
  }

  &__lang-list--iconcs{
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    background: url('/img/css3.svg') no-repeat center center;
    background-size: cover;
  }




}