/////////////////
//  LANDING PAGE

.landing-page {
  background-color: var(--color-white);
  border-bottom-left-radius: 9.5rem;
  width: 100%;
  height: 86.6rem;

  @include xm {
    height: 66.8rem;
    width: 100%;
  }

  @include lg {
    height: 74rem;
  }

  @include xl {
    border-bottom-left-radius: 10.5rem;
  }
}

@keyframes rotate-logo {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav {
  padding: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 11.8rem;

  @include xm {
    padding: 2.4rem;
    justify-content: space-between;
  }

  @include sm {
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 1;
  }

  @include lg {
    position: fixed;
    background-color: #fff;
    width: 100%;
    padding: 2.4rem 15.5rem;
    z-index: 1;
  }

  @include xl {
    position: fixed;
    background-color: #fff;
    width: 100%;
    padding: 2.4rem 15.5rem;
    z-index: 1;
  }

  &__logo {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2rem;
    color: var(--color-primary);
    text-transform: capitalize;
    text-align: center;
    animation: rotate-logo 2s ease-in-out 1s;

    @include xm {
      width: 7.6rem;
      height: 2rem;
      margin-left: 6.4rem;
    }

    a {
      text-decoration: none;
      cursor: pointer;
      color: inherit;
    }
  }

  &__menu-line {
    display: none;

    @include xm {
      display: block;
      flex: 0 0 2rem;
    }

    @include sm {
      display: block;
      flex: 0 0 2rem;
    }
  }

  &__menu {
    display: none;

    @include xm {
      display: block;
      width: 100%;
      // border: 1.2px solid #ACB7C3;
      border: 1px solid var(--color-primary);
      margin: 0.4rem 0;
    }

    @include sm {
      display: block;
      width: 100%;
      // border: 1.2px solid #ACB7C3;
      border: 1px solid var(--color-primary);
      margin: 0.4rem 0;
    }
  }

  &__menu-box {
    @include xm {
      display: none;
    }

    @include sm {
      display: none;
    }

    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-item {
    a {
      text-decoration: none;
      margin: 0 1rem;
      color: var(--color-text);
      text-transform: capitalize;
      font-weight: 500;
      line-height: 2rem;
      font-size: 1.5rem;
      text-align: center;
      cursor: pointer;
    }
  }
}

.landing {
  background-color: var(--color-white);

  @include xm {
    max-width: 40.2rem;
    max-height: 61.3rem;
    padding-bottom: 2rem;
    border-bottom-left-radius: 12rem;
  }

  @include lg {
    max-width: 99.2rem;
    max-height: 63rem;
  }

  &__wrapper {
    width: 100%;
    height: 72.1rem;
    background-image: url("../img/Header\ bg.svg");
    background-repeat: no-repeat;
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0 2.4rem;
    position: relative;

    @include xm {
      max-width: 37.5rem;
      width: 100%;
      height: 58.7rem;
      background-image: url("../img/header-shapes\ mobile@2x.svg");
      background-position: center center;
      margin-bottom: 2.6rem;
    }

    @include lg {
      height: 61rem;
    }
  }

  &__second-wrapper {
    max-width: 65%;
    position: absolute;
    top: 38%;
    left: 13%;
    margin: 1.2rem;

    @include xm {
      max-width: 37.5rem;
      top: 14%;
      left: 2%;
    }

    @include sm {
      top: 11%;
      left: 10%;
    }

    @include md {
      top: 23%;
      left: 10%;
    }

    @include lg {
      top: 24%;
      left: 10%;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.37px;
    margin: 1.2rem 0;

    @include xm {
      margin: 4rem 1.2rem 1.2rem 1.2rem;
      letter-spacing: 0;
    }
  }

  &__text {
    margin: 1.2rem 0;

    @include xm {
      margin: 1.2rem 1.2rem;
    }
  }

  &__link {
    text-transform: uppercase;
    color: var(--color-primary-text);
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    margin: 0 0.8rem;
  }

  &__social-media {
    margin: 1.2rem 0;

    @include xm {
      margin: 1.2rem 1.2rem;
    }

    ul {
      list-style: none;
      display: flex;
    }
  }

  &__social-link {
    text-decoration: none;
  }

  &__icon {
    margin-right: 1.9rem;
    cursor: pointer;
  }
}

/////////
// HEADER
.header {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6rem;
  color: var(--color-header-text);

  @include xm {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  &__about {
    @include xm {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.2rem;
    }
  }
}

////////////@at-root
//WORKS
.tonic {
  display: flex;
  flex-direction: column;
  max-width: 85%;
  margin-left: 8.8rem;
  margin-right: 8.2rem;
  padding: 1.6rem;
  overflow: hidden;

  @include xm {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    gap: 0;
  }

  @include sm {
    margin-left: 7.8rem;
  }

  @include lg {
    max-width: 90%;
    flex-direction: row;
    gap: 2.2rem;
    margin-left: 8.8rem;
    margin-right: 8.2rem;
  }

  @include xl {
    flex-direction: row;
    max-width: 80%;
    gap: 2.2rem;
    margin-left: 14.2rem;
    margin-right: 15.2rem;
  }

  :first-child {
    &:hover {
      transform: scale(1.1);
      transition: all 0.2s cubic-bezier(0.69, -0.04, 0.58, 1);
    }
  }

  &__wrapper {
    @include lg {
      margin-left: 4.8rem;
      margin-right: 4.6rem;
    }

    @include xl {
      margin-left: 4.8rem;
      margin-right: 4.6rem;
    }

    & > * {
      @include lg {
        line-height: 4rem;
      }

      @include xl {
        line-height: 4rem;
      }
    }

    @include xm {
      margin: 0;
    }
  }

  &__header {
    @include xm {
      margin: 1.2rem;
    }

    @include lg {
      margin-top: 4.8rem;
      margin-bottom: 2rem;
    }

    @include xl {
      margin-top: 4.8rem;
      margin-bottom: 2rem;
    }
  }

  &__cat-list {
    display: flex;
    padding: 2rem 0;
  }

  &__cat-list--item {
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 600;
    color: var(--color-text-lighter);
    margin-right: 3rem;

    @include xm {
      line-height: 1.6rem;
    }
  }

  &__cat-list--1 {
    list-style: none;
    text-transform: uppercase;
    color: var(--color-text);
  }

  &__text {
    font-size: 1.6rem;
    line-height: 2.4rem;

    @include xm {
      font-size: 1.5rem;
      margin-top: 0.2rem;
    }

    @include lg {
      margin-top: 0.8rem;
    }

    @include xl {
      margin-top: 0.8rem;
    }
  }

  &__lang-list {
    list-style: none;
    display: flex;
    gap: 0.8rem;
    margin-top: 1.2rem;

    @include xm {
      margin-top: 1.2rem;
      margin-bottom: 0;
    }

    @include lg {
      margin-top: 2.2rem;
      margin-bottom: 2.2rem;
    }

    @include xl {
      margin-top: 2.2rem;
      margin-bottom: 2.2rem;
    }
  }

  &__lang-list--item {
    padding: 0.4rem 1.2rem;
    background-color: var(--color-primary-light-2);
    border-radius: 0.8rem;

    a {
      text-decoration: none;
      color: var(--color-primary);
    }
  }

  &__btn {
    padding: 1.6rem 1rem;
    border: 1px solid var(--color-prmary-dark);
    border-radius: 1.6rem;
    background-color: var(--color-white);
    cursor: pointer;
    color: var(--color-prmary-dark);
    font-size: 1.7rem;
    line-height: 2.4rem;
    font-weight: 600;
    letter-spacing: 0.03em;
    margin: 1.8rem 0;

    &:visited {
      background-color: #2230d2;
      color: #fff;
      box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    }

    &:hover {
      color: #fff;
      background-color: #6070ff;
      box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
      font-size: 1.6rem;
      transition: all 0.5s;
    }
  }
}

.tonic-1 {
  &__image-holder {
    max-width: 54rem;
    height: 22rem;
    border-radius: 0.6rem;
    width: 100%;
    background: url("../img/Snapshoot\ Portfolio-mbile.png") no-repeat center center;
    background-size: cover;
    margin-bottom: 12px;
    padding: 2.4rem;

    @include xm {
      background: url("../img/blog_drbl_4x.webp") no-repeat center center;
    }

    @include lg {
      height: 44.8rem;
      max-width: 54.4rem;
      border-radius: 0.8rem;
    }

    @include xl {
      height: 44.8rem;
      max-width: 54.4rem;
      border-radius: 0.8rem;
    }
  }
}

.tonic-2 {
  &__image-holder {
    height: 44.8rem;
    max-width: 54.4rem;
    border-radius: 0.8rem;
    width: 100%;
    background: url("../img/Snapshoot\ Portfolio.png") no-repeat center center;
    background-size: cover;
    margin-bottom: 12px;
    padding: 2.4rem;

    @include xm {
      border-radius: 0.6rem;
      max-width: 29.5rem;
      height: 22rem;
      background: url("../img/works2.png") no-repeat center center;
    }

    @include lg {
      flex-direction: row-reverse;
    }

    @include xl {
      flex-direction: row-reverse;
    }
  }
}

.tonic-3 {
  &__image-holder {
    height: 44.8rem;
    max-width: 54.4rem;
    border-radius: 0.8rem;
    width: 100%;
    background: url("../img/blog_drbl_4x.webp") no-repeat center center;
    background-size: cover;
    margin-bottom: 12px;
    padding: 2.4rem;

    @include xm {
      border-radius: 0.6rem;
      max-width: 29.5rem;
      height: 22rem;
      background: url("../img/Snapshoot\ Portfolio.png") no-repeat center center;
    }
  }
}

.tonic-4 {
  &__image-holder {
    height: 44.8rem;
    max-width: 54.4rem;
    border-radius: 0.8rem;
    width: 100%;
    background: url("../img/works2.png") no-repeat center center;
    background-size: cover;
    margin-bottom: 12px;
    padding: 2.4rem;

    @include xm {
      max-width: 29.5rem;
      height: 22rem;
      border-radius: 0.6rem;
      background: url("../img/Snapshoot\ Portfolio\ \(1\).png") no-repeat center center;
    }

    @include lg {
      flex-direction: row-reverse;
    }

    @include xl {
      flex-direction: row-reverse;
    }
  }
}

////////////
// ABOUT
.about {
  margin: 11.4rem 0 0 0;
  width: 100%;
  border-radius: 1.6rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 11rem;
  background-color: var(--color-white);
  height: 126.2rem;

  @include xm {
    height: 125rem;
    width: 100%;
    border-top-right-radius: 9rem;
  }

  @include sm {
    height: 130rem;
  }

  @include lg {
    margin: 14.2rem 0 0 0;
    flex-direction: row;
    height: 86rem;
  }

  @include xl {
    margin: 14.2rem 0 0 0;
    flex-direction: row;
    height: 86rem;
  }

  &__landing {
    margin: 7.4rem 1.85rem 0 3.2rem;
    padding: 2.4rem;
    flex-basis: 40%;

    @include xm {
      margin: 6.4rem 0 0 0;
      max-width: 37.5;
      width: 100%;
      padding: 0 2.4rem;
    }

    @include lg {
      flex-basis: 50%;
      margin: 14.2rem 1.85rem 0 3.2rem;
    }

    @include xl {
      flex-basis: 50%;
      margin: 14.2rem 1.85rem 8.2rem 6.2rem;
    }
  }
}

.skills {
  flex-basis: 60%;
  margin: 2.2rem 0.2rem 0 1.85rem;

  @include xm {
    margin: 0;
  }

  @include xl {
    margin: 14.2rem 6.2rem 0 1.85rem;
    flex-basis: 50%;
  }

  @include lg {
    margin: 14.2rem 0.2rem 0 1.85rem;
    flex-basis: 50%;
  }

  &__list {
    list-style: none;
    margin: 0 3.6rem;

    @include xm {
      margin: 0 2.4rem;
    }
  }

  &__list-item {
    &:not(:first-child) {
      padding: 2.3rem 0;
      border-bottom: 1px solid var(--color-border);
    }
  }

  &__lang-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__lang-text {
    color: #000;
    font-size: 2rem;
    font-weight: 500;
  }

  &__lang-icon-wrapper {
    margin-right: 3rem;
  }

  &__lang-list {
    margin-top: 1.8rem;
    list-style: none;
    padding: 1rem;

    @include xl {
      display: flex;
    }
  }

  &__lang-list--item {
    border-radius: 0.8rem;
    background-color: #f7f7f9;
    margin: 1.2rem 0;

    @include xm {
      width: 30.3rem;
    }

    @include xl {
      margin-right: 1.2rem;
      width: 12.2rem;
    }
  }

  &__lang-list--link {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding: 2.1rem 1.2rem;
    text-decoration: none;
    cursor: pointer;

    @include xl {
      flex-direction: column;
    }
  }

  &__lang-list--text {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    color: #253858;
  }

  &__lang-list--iconjs {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    border: 1px solid #fff;
    background: url("../img/javascript.svg") no-repeat center center;
    background-size: cover;
  }

  &__lang-list--iconht {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    border: 1px solid #fff;
    background: url("../img/html.svg") no-repeat center center;
    background-size: cover;
  }

  &__lang-list--iconcs {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    border: 1px solid #fff;
    background: url("../img/css3.svg") no-repeat center center;
    background-size: cover;
  }
}

/////////@at-root
//CONTACT
footer {
  width: 100%;
  height: auto;
  background-color: #6070ff;
  border-top-left-radius: 9rem;
  margin-top: -7.7rem;
  background-image: url("../img/contact-me-shapes.svg");
  background-repeat: no-repeat;
  background-position: top right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include lg {
    margin-top: -6.7rem;
  }
}

.contact {
  padding: 2.4rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    margin-bottom: 1.2rem;
    padding-top: 12rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: var(--color-white);
  }

  &__text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #ebebff;
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: center;
    vertical-align: top;

    @include lg {
      max-width: 56.6rem;
      width: 100%;
    }

    @include xl {
      max-width: 56.6rem;
      width: 100%;
    }

    &:hover {
      transform: translate(1rem, 1rem);
      transition: all 0.2s ease-in;
    }
  }

  &__form {
    text-align: center;
  }

  &__form-list {
    display: flex;
    list-style: none;
    margin-top: 8.7rem;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-content: center;
    width: 100%;

    @include xm {
      max-width: 27.3rem;
    }
  }

  &__form-list--item {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  &__form-input {
    max-width: 44.7rem;
    width: 100%;
    height: 4.8rem;
    padding: 2rem 2.4rem;
    border-radius: 0.8rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 400;
    color: #172b4d;
    border: none;

    @include xm {
      max-width: 32.7rem;
    }

    &:focus {
      outline: none;
      border: none;
    }

    &::placeholder {
      font-family: "Poppins", sans-serif;
      color: #172b4d;
      font-size: 1.6rem;
    }
  }

  &__form-textarea {
    max-width: 44.7rem;
    width: 100%;
    padding: 2rem 2.4rem;
    border-radius: 0.8rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 400;
    color: #172b4d;
    border: none;
    height: auto;

    @include xl {
      max-width: 44.7rem;
    }

    &:focus {
      outline: none;
      border: none;
      font-size: 1.5rem;
      font-family: "Poppins", sans-serif;
    }
  }

  &__form-button {
    padding: 1.6rem 1.2rem;
    border: 1px solid var(--color-prmary-dark);
    border-radius: 1.6rem;
    background-color: var(--color-white);
    cursor: pointer;
    color: var(--color-prmary-dark);
    font-size: 1.7rem;
    line-height: 2.4rem;
    font-weight: 500;
    letter-spacing: 0.03em;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);

    &:hover {
      color: #fff;
      background-color: #6070ff;
      box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
      transition: all 0.2s;
    }
  }
}
