//////
// WORKS LAYOUT

.works {

  display: grid;
  grid-template-rows: 55.2rem 59.6rem 55.2rem 59.6rem 126.3rem;

    @include breakpoint('mobile') {
    height: 66.8rem;
    max-width: 37.5rem;
    width: 100%;
  }

  & > * {
    border: 1px solid var(--color-border);
  }
}