//////
// WORKS LAYOUT

.works {
  margin-top: 7rem;
  display: grid;
  width: 100%;
  grid-template-rows: 55.2rem 59.6rem 58.2rem 62rem;
  grid-row-gap: 7rem;
  justify-items: center;

  @include lg {
    margin-top: 14.2rem;
    grid-template-rows: 49.6rem 49.6rem 49.6rem 49.6rem;
    grid-row-gap: 14.2rem;
  }

  @include xl {
    margin-top: 14.2rem;
    grid-template-rows: 49.6rem 49.6rem 49.6rem 49.6rem;
    grid-row-gap: 14.2rem;
  }

  @include xm {
    grid-template-rows: 55.2rem 59.6rem 58.2rem 62rem;
    grid-row-gap: 7rem;
    max-width: 37.5rem;
    width: 100%;
  }

  & > * {
    background-color: var(--color-white);
  }

  .work {
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: 2.4rem;
    padding: 1.6rem;

    @include xm {
      border-radius: 1.6rem;
    }
  }
}
