//////
// WORKS LAYOUT

.works {
  margin-top: 11.4rem;
  display: grid;
  width: 100%;
  grid-row-gap: 7rem;
  grid-template-rows: 49.6rem 49.6rem 49.6rem 49.6rem;

  @include xm {
    max-width: 37.5rem;
    width: 100%;
    grid-template-rows: 55.2rem 59.6rem 58.2rem 62rem;
  }

  @include xl {
    min-width: 144rem;
  }

  & > * {
    background-color: var(--color-white);
  }

  .work {
    border: 1px solid var(--color-border);
    border-radius: 1.6rem;
    padding: 1.6rem;
  }
}
